doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      if content.title
        | #{content.title}
      else
        | Grgit - The Groovy way to use Git
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons', type='text/css')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css', type='text/css')
    link(rel='stylesheet', href='#{content.rootpath}css/main.css', type='text/css')
    script(defer, src='https://code.getmdl.io/1.3.0/material.min.js')
    script(defer, src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--no-desktop-drawer-button
      header.mdl-layout__header
        div.mdl-layout__header-row
          span.mdl-layout-title Grgit
          div.mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href='#{content.rootpath}index.html') Home
            a.mdl-navigation__link(href='#{content.rootpath}grgit-reference.html') Reference
            // a.mdl-navigation__link(href='#{content.rootpath}docs/javadoc/index.html') JavaDoc
            a.mdl-navigation__link(href='#{content.rootpath}docs/groovydoc/index.html') GroovyDoc
            a.mdl-navigation__link(href='https://github.com/ajoberstar/grgit') GitHub
      div.mdl-layout__drawer
        span.mdl-layout-title Grgit
        nav.mdl-navigation
          a.mdl-navigation__link(href='#{content.rootpath}index.html') Home
          a.mdl-navigation__link(href='#{content.rootpath}grgit-reference.html') Reference
          // a.mdl-navigation__link(href='#{content.rootpath}docs/javadoc/index.html') JavaDoc
          a.mdl-navigation__link(href='#{content.rootpath}docs/groovydoc/index.html') GroovyDoc
          a.mdl-navigation__link(href='https://github.com/ajoberstar/grgit') GitHub
      main.mdl-layout__content.mdl-color--blue-grey-100
        block content
      footer.mdl-mini-footer
        div.mdl-mini-footer__left-section
          p Content is based on (sometimes copied directly from) documentation from <a href='https://git-scm.com'>git-scm.org</a>, <a href='https://www.eclipse.org/jgit'>JGit</a>, and Grgit itself.
